 *, *:before, *:after { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

 * {
    box-sizing: border-box;
 } 

 

/* *********** Base Layout Styles ********* */
body {
  margin: 0px;
  color: black; 
  font-size: 1em;
  line-height: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0px;
  grid-template-areas: 
    "nav-header"
    "nav"
    "main";
}

h1 {
  color: whitesmoke; 
}

a {
  text-decoration: none;
  color: whitesmoke; 
}
li{
list-style: none;

}
a:hover {
  color: #e6ddca;
}
.avatar {
  border-radius: 50%;
  width: 25px;

}
nav {
  grid-area: nav;
  
}

main {
  grid-area: main;
}
.nav-header {
  grid-area: nav-header;
}

/* **** Nav header top of page ***** */
.nav-header {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  min-height: 80px;
  background-color: rgb(85, 85, 238);
  padding-left: 30px;
  padding-right: 30px;
  font-size: 10px;
 }
   
#logo {
  display: grid;
  justify-content: start;
  align-content: center;
}
   
.nav-header-links {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 15px;
}


        
.bell {
  width: 20px;
}

/* ****** Side Navagation with SVGs ******* */
nav {
  
  background-color:  rgb(102, 102, 223);
  padding-left: 15px;
  padding-right: 15px;
}
nav img {
  
}





/* ********main content area ************/
.main {
  display: grid;
  
}

.headline {
  display: grid;
 
}
.daily-traffic {
  display: grid;
}