 *, *:before, *:after { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

 * {
    box-sizing: border-box;
 } 

 * {
   text-decoration: none;
   list-style: none;
 }
/* *********************************************** */
/* *********** Base Layout Styles **************** */
/* *********************************************** */

body {
margin: 0 auto;
background-color: lime;
}


.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "nav"
  "main";
}

.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 139, 235);
  
  
}

/* header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: yellow 5px solid; */
  /*background-color: rgb(235, 139, 235)

} */
.top-info {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-items: center;
  /* margin-top: 0; */
 
  
}
.logo {
  /* display: flex; */
  text-align: center;
  font-size: 30px;
  
}


.thinLogo {
  
   font-weight: lighter ;
  
}
.bell-icon {
  display: flex;
  background-color: orange;
  padding-left: 30px;
  border-right: 1px solid black;
  width: 35%;
  margin-bottom: 10px;
}
.bell {
  width: 65%;
  /* height: 40px; */
  margin-top: 10px;
  display: flex;
  /* padding-right: 10px; */

  
  
}

.bell-notify {
  display: flex;
  font-size: 0.9em;
  border-radius: 50%;
  background: green;
  color: white;
  padding: 6px 9px;
  position: absolute;
  top: 5rem;
  left: 3.4rem;
  
  
}
.avatar {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: red;
  margin-left: auto;
  
 
  
}
.profile {
  display: flex;
  
  font-size: 20px;
  /* padding-right: 5px; */
  /* padding-left:5px; */
  margin-left: 10px;
  margin-right: 30px;
  background-color: orange;
}


nav {
  display: flex;
  align-items: center;
  background-color: red;
}
nav a {
  display: flex;
  width: 50%;
  margin: 20px 20px;
}

h3 {
  font-weight: lighter;
}
/* main area  ************************/
main {
  margin-top: 0px;
 
  display: grid;
  background-color: green;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 

  "main-header"
  "alert"
  "traffic"
  "daily";
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headline {
  font-size: 15px;
  padding-left: 10px;
}

.main-header-search {
  display:flex;
  width: 70%;
  border-radius: 10px;
  background-color: pink;
  padding: 10px 5px 10px 60px;
}

.main-header-search input {
  border-radius: 10px;
  
}


.alert {
  width: 90%;
  height: 40px;
  background-color: red;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  
  
}

p {
  display: flex;
  margin: 0px;
  padding-left: 12px;
}
.traffic {
border-bottom: 10px solid #222020;
}
.traffic-header {
  display: flex;
  align-items: center;
  background-color: blue;
  
}
.traffic-nav {
  display: flex;
  
   
  
 
}

.traffic-nav li  {
  background-color: red;
  padding: 5px;
  display: flex;
  
 
}

.daily {
  /* display: flex; */
 
  background-color: orange;
  font-size: 15px;
  border-bottom: 10px solid #222020;
}
.widget-container-half {
  display:flex;
}

/* #daily-chart {
  display:flex;
} */

.mobile-users {
  background-color: red;
  border-bottom: 10px solid #222020;
}

/* *********************************************** */
/* ************** Social Media  ******************* */
/* *********************************************** */
.stats-title {
  text-align: center;
  
}
.social-stats {
  /* grid-area; social-stats; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: purple;
  border: 2px solid lightgrey;
  padding: 15px;
  border-bottom: 10px solid #222020;
}
.social-container {
  border: 1px solid yellow;
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 90%;
  padding: 15px;
  margin: 10px;

}

.social-text p:nth-child(odd) {
 font-weight: bold;
 
}
.social-text p:nth-child(even) {
  font-weight: 100;
  font-size: 20px;
  
  
}

.social-image-icon {
  border: 1px solid lightgrey; 
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 20%; 
  width: 50px;
  height: 50px;
} 
.social-image-icon path {
  fill: white;
}
.twitter-icon {
  width: 50px;
  height: 50px;
  padding-top: 10px;
}
.facebook-icon {
  width: 40px;
  height: 40px;
  
}
.google-icon {  
  width: 40px;
  height: 40px;
 
}


/* GRID AREAS FOR MEDIA QUERY'S */
/* .twitter {
  grid-area: twitter;
}
.facebook {
  grid-area: facebook;
}
.googlePlus {
  grid-area: googlePlus;
} */

/* *********************************************** */
/* ************** New Members  ******************* */
/* *********************************************** */

.members {
  display: flex;
  flex-direction: column;
  
  background-color: coral;
  /* border-top: 2px solid black; */
  border-bottom: 10px solid #222020;
}
.dash-title {
 
  margin-bottom: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;


}
.members-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #757070;
}
.members-container .date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
  color: #524e4e;
  margin-right: 10px;
  
} 
.members-container .name {
  margin-top: 0.7rem;
  margin-bottom: 0;
}
.members-container .email {
  margin: 0;
  color: #4e29f0;
}
.members-container .arrow {
  display: none;
}
.profile-image {
  display: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  
 
}
.members-text{
  margin-top: 0;
  flex-grow: 2;
  align-self: center;
}



/* *********************************************** */
/* ************** Recent Activity ******************* */
/* *********************************************** */
.recent-activity {
  /* margin: 0; */
  display: flex;
  flex-direction: column;
  background-color: darkgoldenrod;
  /* border-top: 2px solid black; */
  border-bottom: 10px solid #222020;
}

/* *********************************************** */
/* ************** Messaging Widget ******************* */
/* *********************************************** */

.message {

display: flex;
flex-direction: column;
border-bottom: 10px solid #222020;

}
.widget-container {
  display: flex;
  flex-direction: column;
  
}
.input-box {
  
}
.search-user {
  text-transform: uppercase;
  
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
  margin:15px 10px 0;

}
.message-user {
  text-transform: uppercase;
  height: 100px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  border-radius: 5px;
  margin:15px 10px 0;
  
}

.send-button-primary {
  border-radius: 5px;
  height: 25px;
  margin:15px 10px 10px;

}
/* *********************************************** */
/* ************** Settings Widget ******************* */
/* *********************************************** */
.settings {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  
}
.toggle {
  display: flex;
  align-items: center;
}
.switch {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  
  padding-right: 40px;

}
.slider {
  
}
/* time zone */
#timezone {
  width: 100%;
  height: 40px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid rgb(110, 106, 106);
  background-color: greenyellow;
}

.form-field {
  display: flex;
}
.settings-button {
  margin-top: auto;
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: space-between;
  

}
.save-button-primary {
  text-transform: uppercase;
  background-color: #4e29f0;
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  
}
.button-disabled {
  text-transform: uppercase;
  background-color: #4e29f0;
  width: 45%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  
  


}

/* *********************************************** */
/* ************** Media Querys ******************* */
/* *********************************************** */
/* 
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
      "header header"
      "nav main";
    
  }
}

main {
  display: grid;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
} */