 *, *:before, *:after { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

 * {
    box-sizing: border-box;
 } 


  body {
    
    color: grey; 
    font-size: 1em;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
  }

  .main-header {

    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    min-height: 100px;
    background-color: darkgreen;
    width: 100%;
    
   
   
    
        




/* *********** Base Layout Styles ********* */
/*---Navigation-- */
